.Caption {
    background-color: #EFDAC4;
    border: 1px solid #EFDAC4;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Caption figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #465C78;
  }
  

  .Fave {
    color: #465C78;
  }

